body {
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img {
    border-radius: 10px;
}

.form-inline {
    align-content: center;
    justify-content: center;
}

audio {
    max-width: 100%;
}

h2 {
    padding-top: 5px;
}