body {
    background-image: url("https://i.ytimg.com/vi/WRWDhzTbygI/maxresdefault.jpg");
    background-size: cover;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.form-inline {
    align-content: center;
    justify-content: center;
}

audio {
    max-width: 100%;
}

h2 {
    padding-top: 5px;
}